body {
    overflow-x: hidden;
    position: relative;
    //opacity: 0;
    transition: all 0.3s ease-out 0s!important;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

    &.not-scroll {
        overflow-y: hidden;
    }
}

body.visible {
    opacity: 1;
    transition: all 0.3s ease-out 0s!important;
}

* {
	margin: 0;
	padding: 0;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
	outline: none;
	box-shadow:none !important;
}

a {
	transition: all 0.3s ease-out 0s!important;
}

.mt-20 {
    margin-top: 20px;
}


header {
    background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
    height: 50px;

    .container {
        display: none;
    }

    &.header-dashboard {

        height: auto;

        .container {
            display: block;
            position: relative;
            z-index: 1;
        }

        .top {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0 35px;

            .logo-cap {
                display: table;
                margin: 0;
            }

            .notification {
                display: flex;
                align-items: center;

                a {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: block;
                    margin-right: 30px;
                    
                }

                .icon-arrow {
                    display: inline-block;
                    margin-right: 10px;

                     svg {

                        path {
                            fill: #fff;
                        }
                    }
                }

                .icon {
                    position: relative;
                }

                span {
                    background: #FFFFFF;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #B80D0C;
                    font-size: 9px;
                    position: absolute;
                    right: -5px;
                    top: -1px;
                }

               
            }
        }

        .bottom {

            padding: 0 0 70px 0;

            h1 {
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF;
                margin-bottom: 15px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
                margin-bottom: 15px;
            }

            hr {
                background: #fff;
            }
        }

        .symbol-cap-header {
            position: absolute;
            top: 0;
            right: 53px;
            z-index: -1;
        }
    }
}



.form-custom {

    display: table;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    .input-custom {
        font-family: 'Montserrat', sans-serif;  
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #70716F;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #E5E5E5;
        padding: 0 10px;
        height: 50px;
        background: transparent;

    }

    .label-custom {
        font-family: 'Montserrat', sans-serif; 
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: #70716F;
        margin-bottom: 0;

        span {
            color: #D20A11;
        }
    }

    .radio,
    .checkbox {

        label {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 10px;
            line-height: 17px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #70716F;
            display: inline-flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            margin-bottom: 0;
        }

        input {
            display: none;
        }
    }

    .checkbox {

        line-height: normal;

        label {
            
            &::before {
                display: inline-block;
                content: "";
                border: 1px solid #E5E5E5;
                border-radius: 4px;
                width: 20px;
                height: 20px;
                margin-right: 9px;
                margin-bottom: 0;
            }

            &::after {
                   position: absolute;
                    content: url(../images/check.svg);
                    left: 6px;
                    top: 50%;
                    display: none;
                    transform: scale(1.2) translateY(-41%);
            }

            &.selected {
                
                &::after {
                    display: block;
                }

            }
        }

       
    }

     .form-group {
        position: relative;
    }

    .eye-icon {
        position: absolute;
        top: 45px;
        right: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .list-unstyled {
        margin-bottom: 0;
    }

    .help-block.with-errors li {
        font-weight: 500;
        font-size: 9px;
        line-height: 15px;
        text-transform: uppercase;
        color: #B70E0C;
        position: unset;
        height: 15px;
        background-color: transparent;
        margin-top: 10px;
    }

    .has-error {

        .form-control {
            border-bottom: 1px solid #B70E0C!important;
        }

        .label-custom {
            color: #B70E0C;
        }

        .input-custom {

            &::placeholder {
                color: #B70E0C;
            }
        }

        svg {
            path {
                fill: #B70E0C;
            }
        }

    }

    .two-buttons {

        .btn-custom {

            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
}

.btn-text {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #70716F;
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    padding: 0;
    width: 100%;
    line-height: 50px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-out 0s!important;

    &:hover {
        opacity: 0.8;
        transition: all 0.3s ease-out 0s!important;
    }

    &.red {
        background: linear-gradient(90deg, #D20A11 4.19%, #B70E0C 100%);
        color: #FFFFFF;
    }

     &.green {
        background: linear-gradient(90deg, #009020 4.19%, #007B40 100%);
        color: #FFFFFF;

        &.transparent {
            background: transparent;
            color: #007B40;
            border: 2px solid #007B40;
            //line-height: 44px;
    
            &:hover {
                background: linear-gradient(90deg, #009020 4.19%, #007B40 100%);
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }

    &.transparent {
        background: transparent;
        color: #D20A11;
        border: 2px solid #D20A11;
        //line-height: 44px;

        &:hover {
            background: linear-gradient(90deg, #D20A11 4.19%, #B70E0C 100%);
            color: #FFFFFF;
            opacity: 1;
        }
    }

    &.btn-back {
        position: absolute;
        right: 15px;
        width: 100px;
        height: 40px;
        line-height: 37px;
        top: 20px;
    }

    &.auto-w {
        width: 280px;
    }

    &.w-320 {
        width: 320px;
    }
}

.forget-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

hr {
    background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: none;
    width: 50px;
    height: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    &.left {
        margin-left: 0;
    }

    &.small {
        width: 33px;
    }
}


h1, h2, h3, h4, h5, h6, p, span, strong, a {
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #70716F;
    margin-bottom: 15px;
}

.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #B70E0C;
    text-transform: uppercase;
}

.content {

    margin-top: 60px;

    h2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #B70E0C;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    p {
        font-weight: 200;
        font-size: 16px;
        line-height: 25px;
        color: #777777;
        margin-bottom: 30px;
    }
}

.logo-cap {
    display: table;
    margin: auto auto 70px auto;
}

main {
    padding: 70px 0 0;
    position: relative;

    &.long {
        padding: 70px 0 185px;
    }
}

.cap-symbol {
    position: absolute;
    right: 0;
    bottom: 0;
}

.terms {

    list-style: none;
    margin-bottom: 0;
    margin-top: 64px;

    li {
        padding: 5px 0;
    }
}

.home {


    .form-custom {
        margin-top: 80px;
    }
}

.chamada {
    display: table;
    margin: auto;
    width: 45%;

    p {
        width: 75%;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-backdrop {
    z-index: 999999999;
}

.modal-custom {

    z-index: 99999999999999;

    &.error {

        .modal-header {
            background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
        }
    }

    &.success {

        .modal-header {
            background: linear-gradient(90deg, #009020 0%, #007B40 100%);
        }
    }

    .modal-dialog {
        max-width: 370px;

        &.small {
            max-width: 320px;
        }
    }

    .modal-content {
        border-radius: 15px;
        border: none;
    }

    .modal-header {
        border-radius: 10px 10px 0px 0px;
        padding: 30px 0;

        h5 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            display: table;
            margin: auto;
        }
    }

    .modal-body {

        padding: 30px 55px;

        &.larger {
            padding: 30px 25px;
        }

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5F5F5F;
            margin-bottom: 0;
        }
    }

    .modal-footer {
        border-top: none;
        padding: 0 45px 45px 45px;
        flex-direction: column;

        &.larger {
            padding: 0 25px 20px 25px;
        }
    }

    .modal-footer>:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .form-custom {
        width: 100%;
        margin-top: 30px;
    }
}

.block-menu {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 20px;

    .wrap   {
        padding: 0 10px;
    }

    .menu {
        list-style: none;
        margin-bottom: 0;
        margin-top: 10px;

        li, a {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #70716F;
            transition: all 0.3s ease-out 0s!important;
        }

        li {

            display: flex;
            align-items: center;
            line-height: 40px;

            .icon-arrow {
                margin-right: 10px;

                svg {

                    path {
                        transition: all 0.3s ease-out 0s!important;
                    }
                }
            }

            &.active {

                &>.icon-arrow svg {

                    path {

                        fill: #B70E0C;
                    }
                }

                &>li, &>a {
                    color: #B70E0C;
                }
            }

            &:hover {

                &>a {
                    text-decoration: none;
                    color: #B70E0C;
                    transition: all 0.3s ease-out 0s!important;
                }

                &>.icon-arrow svg  {

                    path {
                        transition: all 0.3s ease-out 0s!important;
                        fill: #B70E0C;
                    }
                }

            }

            &.has-children {
                position: relative;
                margin-bottom: 0;
                transition: all 0.3s ease-out 0s!important;
                
                //&.active,
                &:hover {
                    margin-bottom: 85px;
                    transition: all 0.3s ease-out 0s!important;

                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.3s ease-out 0s!important;
                        z-index: 2;
                    }
                }
                

                .submenu {
                    width: 100%;
                    position: absolute;
                    top: 40px;
                    left: 15px;
                    //display: none;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-out 0s!important;
                    z-index: -1;

                    li, a {
                        font-size: 12px;
                    }
                }
            }
        }

       
    }

    img {

        width: 100%;

        &:last-of-type {
            transform: rotate(-180deg);
        }
    }

    .terms {
        margin-top: 20px;
    }
}

.dash-content {

    .dash-title {
        margin-bottom: 30px;

        h2 {
            font-weight: 800;
            font-size: 20px;
            line-height: 27px;
            color: #B70E0C;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            color: #70716F;
            margin-bottom: 15px;
            margin-top: 25px;
        }

    }

    .block {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 35px;
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.2s ease-out 0s!important;
        margin-bottom: 30px;

        &.static {

            display: block;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;

            &:hover {
                top: 0;
                left: 0;
            }
        }

        .info {

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 134.09%;
                color: #70716F;
                letter-spacing: normal;
                text-transform: none;
                margin-bottom: 30px;

                strong {
                    color: #70716F;
                    font-weight: 600;
                }
            }
        }

        &.extract {
            padding: 20px;

            .wrap-actions {
                display: flex;
                position: absolute;
                top: 34px;
                right: 0;
                width: 40%;
                justify-content: space-evenly;
                z-index: 2;

                .actions {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                
                    span {
                        font-weight: 200;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #fff;
                        margin-left: 10px;
                        display: block;
                    }
                }
            }

            

            .head {
                background: linear-gradient(270deg, #BA0E0D 0%, #D10A11 100%);
                border-radius: 15px 15px 0px 0px;
                padding: 30px;
                position: relative;

                h2 {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 34px;
                    color: #FFFFFF;
                    margin-bottom: 5px;
                }

                p {
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 13px;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    margin-right: 30px;
                }

                .personal-data {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .calendar {

                    position: relative;

                    input {
                        background: rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 13px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        border: none;
                        text-align: left;
                        width: 151px;
                        height: 40px;
                        margin-left: -10px;
                        position: relative;
                        z-index: 1;
                        margin-top: 5px;

                        &::placeholder {
                            font-weight: 300;
                            font-size: 9px;
                            letter-spacing: 0.05em;
                            line-height: 13px;
                            text-transform: none;
                            color: #FFFFFF;
                        }

                        
                    }

                    label {
                        font-weight: 300;
                        font-size: 9px;
                        line-height: 12px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        position: relative;
                        padding-left: 10px;

                        &:first-of-type {
                            margin-right: 10px;
                        }
                    }

                    .icon-calendar {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        z-index: 0;
                    }

                    .total {
                        
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);

                        h3 {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 27px;
                            text-align: right;
                            color: #FFFFFF;
                        }

                        p {
                            font-weight: 300;
                            font-size: 7px;
                            line-height: 9px;
                            letter-spacing: 0.05em;
                            color: #FFFFFF;
                            margin-right: 0;
                            text-align: right;
                        }
                    }

                   
                }
            }

            .body {
                padding: 10px 0 0 0;
                
                .block-extrato {
                    margin-top: 10px;

                    &.detalhe {

                        .table .table-body h4 {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 16px;
                            color: #70716F;

                            a {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 12px;
                                letter-spacing: 0.05em;
                                text-transform: uppercase;
                                color: #D20A11;
                                display: block;
                                margin-top: 3px;
                            }
                        }

                        .table .table-body p {
                            width: 100%;
                        }

                        .table .table-body .row {
                            background: none;
                            padding: 10px 8px 10px 8px;
                        }

                        .last-col {
                            padding-right: 15px!important;

                            p,
                            h4 {
                                text-align: right!important;
                            }
                        }

                        .sub-total {
                            justify-content: flex-end;

                            p,
                            h3 {
                                text-align: right!important;
                            }

                            p {
                                font-weight: 300;
                                font-size: 7px;
                                line-height: 9px;
                                letter-spacing: 0.05em;
                                color: #D20A11;
                            }

                            h3 {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 27px;
                                color: #D20A11;
                            }
                        }
                    }
                }

                h4 {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #B70E0C;
                }

                p {

                    &.data-consulta {
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 13px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #70716F;
                        margin-bottom: 0;
                    }
                }

                .table {

                    .table-head {

                        background: #F1F1F1;
                        border-radius: 10px;
                        padding: 12px 25px;
                        margin-bottom: 10px;

                        &.empty {
                            padding: 5px 25px;
                        }

                        h4 {
                            font-weight: 500;
                            font-size: 9px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #777777;
                            margin-bottom: 0;

                            &.last {
                                text-align: right;
                            }

                            &.venc {
                                padding-left: 15px;
                            }
                        }
                    }

                    .table-body {

                        margin-bottom: 20px;

                        .row {
                            background: #F1F1F1;
                            border-radius: 10px;
                            padding: 25px 8px 12px 8px;
                            margin-bottom: 0;
                            align-items: center;
                            margin-left: 0;
                            margin-right: 0;

                            &:nth-child(even) {
                                background: #fff;
                            }
                        }

                    

                        h4 {
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 13px;
                            text-align: left;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #B70E0C;
                            margin-bottom: 0;
                        }

                        p {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #70716F;
                            margin-bottom: 0;
                            width: 85%;

                            &.valor {
                                text-align: left;
                                font-size: 13px;
                                line-height: 12px;
                                letter-spacing: 0.05em;
                                text-transform: uppercase;
                                color: #B70E0C;
                                font-weight: 600;
                                width: 100%;
                                margin-bottom: 7px;
                            }
                        }

                        a {
                            font-weight: 300;
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #B70E0C;
                            display: block;
                        }

                        hr {
                            background: rgba(183, 14, 12, 0.25);
                            width: 20px;
                            height: 5px;
                            margin-right: 0;
                            margin-left: auto;
                            margin-top: 3px;
                        }

                        .last {
                            text-align: right;
                        }

                        .actions {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            span {
                                font-weight: 200;
                                font-size: 10px;
                                line-height: 12px;
                                letter-spacing: 0.05em;
                                text-transform: uppercase;
                                color: #70716F;
                                margin-left: 10px;
                                display: block;
                            }
                        }

                        .last-col {
                            padding-right: 0;
                        }
                    }
                }

                .info {
                    margin-top: 30px;
                    padding: 0 20px;

                    .row {
                        margin-bottom: 15px;
                    }

                    h4 {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 146.3%;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #D20A11;
                        margin-bottom: 0;
                
                        &.inline {
                            display: inline-block;
                        }
                    }
                
                    p {
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 146.3%;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #70716F;
                
                        &.inline {
                            display: inline-block;
                        }
                    }
                }
            }

            .resume {

                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 20px;
                width: 45%;
                display: table;
                margin-left: auto;
                margin-right: 0;

                ol {
                    counter-reset: listStyle;
                    list-style: none;
                    padding-left: 20px;
                    padding-right: 0;
                    margin-top: 0;
                    margin-bottom: 20px;

                    li {

                        padding: 0;
                        counter-increment: listStyle;

                        p {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: normal;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #70716F;
                            margin-bottom: 0;
                            display: inline-block;

                            &:last-child {
                                font-weight: 600;
                                text-align: right;
                                color: #B70E0C;
                                float: right;
                                position: relative;
                                top: 3px;
                            }
                        }

                        &:before {
                            content: counter(listStyle, upper-alpha) ')';
                            font-weight: 400;
                            font-size: 13px;
                            line-height: normal;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #70716F;
                            margin-right: 5px;
                        }
                    }

                }

                .total {

                    span {
                        display: block;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 9px;
                        text-align: right;
                        letter-spacing: 0.05em;
                        color: #B70E0C;
                        text-transform: uppercase;
                        margin-bottom: 3px;
                    }
            
                    h2 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        text-align: right;
                        color: #B70E0C;
                        margin-bottom: 0;
                    }
                }

                p.vencimento {
                    background: #F1F1F1;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 9px;
                    line-height: normal;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #70716F;
                    padding: 10px 0;
                    margin-bottom: 0;
                    margin-top: 15px;
                }
            }

            .periodo {
                display: flex;
                margin-top: 30px;

                .mes,
                .venc {
                    width: 20%;
                }

                p {
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 134.09%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 5px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 134.09%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                .total {
                    width: 60%;

                    p {
                        font-size: 7px;
                        line-height: 9px;
                        text-align: right;
                        margin-right: 0;
                    }

                    h3 {
                        font-size: 20px;
                        line-height: 27px;
                        text-align: right;
                    }
                }
            }

            .type {
                background: #C00D0E;
                border-radius: 5px;
                padding: 10px 20px;
                margin-bottom: 10px;

                p {
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 134.09%;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }
        }

        .icon {
            margin-right: 20px;
        }

        h3 {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #B70E0C;
            margin-bottom: 5px;
        }

        &:hover {
            text-decoration: none;
            top: -3px;
            left: 0;
            transition: all 0.2s ease-out 0s!important;
        }

        &.clicked {
            box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
            transition: all 0.2s ease-out 0s!important;
        }

        .perm-user {
            margin-bottom: 15px;

            .col-12 {
                margin-bottom: 15px;
            }
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 146.3%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #70716F;
            margin-bottom: 0;

            strong {
                font-weight: 500;
                color: #D20A11;
            }
        }

    }

    .form-custom {
        width: 100%;
        margin-top: 0;

        .col-custom {
            padding-left: 15px;
            padding-right: 15px;
            width: 38%;

            &.small {
                width: 24%;
                display: flex;
                align-items: center;
            }
        }

        .hidden-block {
            display: none;
        }
    }


}

footer {

    display: none;
    padding: 24px 0 15px;

    &::before {
        content: url(../images/foot-shadow.png);
        display: table;
        margin: auto;
    }

    &.footer-dashboard {
        display: block;
    }

    .foot-flex {
        align-items: center;
    }

    p {
       font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #70716F;
        margin-bottom: 0;
    }

    .dev {

        display: flex;
        align-items: center;
        float: right;

        p {
            font-weight: 400;
            font-size: 10px;
            margin-bottom: 0;
            margin-right: 10px;
        }

        img {
            width: 105px;
            height: 23px;
            margin-top: -10px;
        }
    }
}

ul {

    &.config {

        list-style: none;
        margin-bottom: 0;


        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #70716F;
            padding: 15px 0;
            border-top: 1px solid #EDEDED;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;


            &:last-child {
                border-bottom: 1px solid #EDEDED;
            }

            .right {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 20px;

                .gen-icon {
                    margin: 0px 25px;

                    &.del {
                        margin: 0px 30px 0 25px;
                    }
                }
            }

            small {
                font-weight: 200;
                font-size: 9px;
                line-height: 12px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #777777;
            }

            span.sub-title {
                color: #D20A11;
                font-weight: 500;
            }

            &.head {
                border-top: none;

                .right {
                    padding-right: 14px;

                    .gen-icon {

                        &.del {
                           margin: 0px 17px 0 28px;
                        }
                    }
                }
            }

        }
       
    }
}


.activate-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
   

    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 8px;
        margin-bottom: 0;
        margin-right: 10px;

         input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background: rgba(183, 14, 12, 0.25);

                &::before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                    background: #B70E0C;
                    left: -10px;
                    
                }
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: -1px;
            bottom: -4px;
            background-color: #b5b5b5;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &::before {
                border-radius: 50%;
            }
        }
    }

    
    .label-toggle {
        font-weight: 400!important;
        display: inline-block!important;
        margin-bottom: 0!important;
        margin-top: 0!important;
        text-transform: uppercase;
        width: 30px;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #777777;

        &.active {
            color: #B70E0C!important;
        }
    }
}

// Trash Animtion

.btn-del{
    position: relative;
    cursor: pointer;
}
.lid{
    position: relative;
    top: 2px;
    width: 24px;
    height: 6px;
    background: white;
    border: solid 2px #70716F;
    transition: all .2s ease-in-out;
    transform-origin: left;
    transform: rotate(0deg) translateY(0px);
}
.lid:before,
.lid:after{
    content: '';
    position: absolute;
}
.lid:before{
    width: 10px;
    height: 5px;
    top: -5px;
    left: 5px;
    background: #70716F;
}
.lid:after{
    width: 6px;
    height: 4px;
    top: -3px;
    left: 7px;
    background: white;
}
.can{
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    background: white;
    border: solid 2px #70716F;
    border-radius: 0 0 3px 3px;
}
.can:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    box-shadow: 4px 5px 0px 1px #70716F,
                4px 7px 0px 1px #70716F,
                4px 9px 0px 1px #70716F,
                4px 11px 0px 1px #70716F,
                4px 13px 0px 1px #70716F,
                8px 5px 0px 1px #70716F,
                8px 7px 0px 1px #70716F,
                8px 9px 0px 1px #70716F,
                8px 11px 0px 1px #70716F,
                8px 13px 0px 1px #70716F,
                12px 5px 0px 1px #70716F,
                12px 7px 0px 1px #70716F,
                12px 9px 0px 1px #70716F,
                12px 11px 0px 1px #70716F,
                12px 13px 0px 1px #70716F;
}

.btn-del:hover .lid{
    transform: rotate(-30deg) translateY(-2px);
}


.datepicker {
	font-weight: 200;
	color: #9d9d9d;
	border: none;
	padding: 0;
	box-shadow: 0px 5px 10px #adaaaa;
}

.datepicker table tr td, .datepicker table tr th {
	width: 40px;
	height: 40px;
}



.datepicker table tr td.new, .datepicker table tr td.old {
	color: #e7dddd;
}



.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
	color: #fff;
	background-color: #B70E0C;
	border-color: initial;
	font-weight: 400;
}

.datepicker-dropdown.datepicker-orient-bottom::before {
	 display: none;
}

.datepicker-dropdown.datepicker-orient-bottom::after {
	display: none;
}

.datepicker table th:first-child{
	border-radius: 4px 0 0 0;
	background-color: #B70E0C;
	color: #fff;
}

.datepicker table th:last-child{
	border-radius: 0 4px 0 0;
	background-color: #B70E0C;
	color: #fff;
}

.datepicker .datepicker-switch, .datepicker tfoot tr th {
	background-color: #B70E0C;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
    background: #B70E0C;
    opacity: 0.9;
}

.datepicker table .dow {
	background-color: #B70E0C!important;
	color: #fff!important;
	border-radius: 0!important;
	font-weight: 400;
}

// Loader

.loader {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999999999999;
}
.loader-inner {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    img {
        width: 10%;
    }
}

.loader-inner p {
    font-size: 26px;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.loader-inner img,
.loader-inner p {
    animation: fade .7s linear infinite;
}


@keyframes fade {
    0% {
        opacity: .1;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }

    75% {
        opacity: .75;
    }

    50% {
        opacity: .5;
    }

    25% {
        opacity: .25;
    }
}


.icon-arrow {

    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;



     @keyframes bounce {
        0%, 100%, 20%, 50%, 80% {
            transform:         translatex(0)
        }
        40% {
            transform:         translatex(-20px)
        }
        60% {
            transform:         translatex(-10px)
        }
    }

    
}

li {

    &:hover {

        &>.icon-arrow {
            animation-name: bounce;
        }
    
    }

    &.active {

        &>.icon-arrow {
            animation-name: none;
        }
    }

}

.notification {

    a {
        &:hover {

            .icon-arrow {
                animation-name: bounce;
            }
        
        }
    }

   

    .icon {

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            animation-iteration-count: infinite;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }
            
            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
        
    }


}

.btn-menu {
    display: none;
}

.notificacoes .block {
    
    h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #70716F;
        padding-bottom: 15px;
        border-bottom: 1px solid #EDEDED;
        margin-bottom: 20px;
    }

    .notification {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 30px;


        .head {
            background: linear-gradient(90deg, #FF0009 0%, #B70E0C 100%);
            border-radius: 10px 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 20px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin: 0 0 0 0;
                text-transform: none;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 20px;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 15px;
                        background: #fff;
                        margin-left: 20px;
                    }
                }
            }
        }

        .body {
            padding: 30px 30px 20px 30px;
            position: relative;

            h4 {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #70716F;
                margin-bottom: 20px;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #70716F;
                margin-bottom: 10px;
                text-transform: none;
                letter-spacing: normal;
            }

            .icon-readed {
                position: absolute;
                right: 30px;
                top: 25px;
                cursor: pointer;
            }
        }
    }

    .notification-list.readed {

        .head {
            background: linear-gradient(270deg, #009020 0%, #00B729 100%);
        }

        .body {

            .icon-readed {

                svg {

                    path {
                        fill: #009020;
                    }
                }
            }
        }
    }
}

.load-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px auto auto auto;
    cursor: pointer;
    width: 20%;

    p {
        font-weight: 500!important;
        font-size: 12px!important;
        line-height: 15px!important;
        text-align: center!important;
        letter-spacing: 0.05em!important;
        text-transform: uppercase!important;
        color: #70716F!important;
        margin-bottom: 10px!important;
    }

    .icon {
        margin-right: 0!important;
        position: relative;
        top: 0;
        transition: all 0.2s ease-out 0s!important;
    }

    &:hover {

        .icon {
            transition: all 0.2s ease-out 0s!important;
            top: -7px;
        }
        
    }

    
}


.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body .row:not(:last-child) {
    border-bottom: 1px dashed #E5E5E5;
    border-radius: 0;
    align-items: center!important;
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body .row {

    &.sub-total {
        margin-top: 20px;
    }
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body {

    p,
    h4 {
        line-height: normal;

        &.valor {
            margin-bottom: 0;
        }
    }
}

.dash-content .block.extract .body .table .table-body small {
    display: none;
}


@media screen and (max-width: 768px) {

    .form-custom {
        width: 45%;
    }

    .chamada {
        width: 70%;
    }

    .btn-custom.btn-back {
        position: relative;
        right: 0;
        top: 0;
        display: table;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 30px;
    }

    header.header-dashboard .top {
        padding: 75px 0 35px;
    }

    .block-menu {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999999;
        border-radius: 0;
        height: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        overflow-y: hidden!important;
        transition: all 0.4s ease-in-out 0s!important;
        visibility: hidden!important;
        opacity: 0!important;

        &.menu-open {
            visibility: visible!important;
            opacity: 1!important;
            transition: all 0.4s ease-in-out 0s!important;
        }
    }

    .block-menu .wrap {
        padding: 0 30px;
        background: #fff;
        position: fixed;
        height: 100%;
        left: -300px;
        transition: all 0.5s ease-in-out 0s!important;

        &.active {
            left: 0;
            transition: all 0.5s ease-in-out 0s!important;
        }
    }

    .menu-trigger {
        position: relative;
        z-index: 103;
        top: 0;
        right: 0;
        display: block;
        padding: 1.25rem;
        width: 40px;
        height: 40px;
        margin: 1px;
        cursor: pointer;
        transform: translateZ(0);
        transition: all 0.4s ease-in-out 0s!important;
        background: transparent;
    }


    .menu-trigger .line {
        display: block;
        background: #fff;
        width: 25px;
        height: 2px;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
        border-radius: 1px;
        transition: all 0.3s ease-out 0s;
    }


    .menu-trigger .line.line-1 {
        top: .625rem;
    }

    .menu-trigger .line.line-2 {
        top: 50%;
        top: calc(50% - 1px);
    }

    .menu-trigger .line.line-3 {
        bottom: .625rem;
    }

    .menu-trigger-open {
        right: 275px;
    }

    .menu-trigger .line-1-open {
        -ms-transform: translate(-50%,9px) rotate(45deg);
        transform: translate(-50%,9px) rotate(45deg);
        transition: all 0.3s ease-out 0s;
    }

    .menu-trigger .line-2-open {
        opacity: 0;
        transition: all 0.3s ease-out 0s;
    }

    .menu-trigger .line-3-open {
        -ms-transform: translate(-50%,-9px) rotate(-45deg);
        transform: translate(-50%,-9px) rotate(-45deg);
        transition: all 0.3s ease-out 0s;
    }

    .btn-menu {
        position: fixed;
        left: 20px;
        z-index: 999999999;
        background-color: #fff;
        border-radius: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #B70E0C;
        top: 20px;
        transition: all 0.4s ease-in-out 0s!important;

        &.active {
            left: 308px;
            transition: all 0.4s ease-in-out 0s!important;
        }

        .menu-trigger {

            .line {
                background: #B70E0C;
            }

            &.active {

                .line {

                    &.line-1 {
                        top: 18px;
                        transition: all 0.4s ease-in-out 0s!important;
                    }

                    &.line-3 {
                        bottom: 20px;
                        transition: all 0.4s ease-in-out 0s!important;
                    }
                }


            }

            .line {
                width: 20px;

                &.line-1 {
                    top: 15px;
                    transition: all 0.4s ease-in-out 0s!important;
                }

                &.line-3 {
                    bottom: 15px;
                    transition: all 0.4s ease-in-out 0s!important;
                }
            }

        }
    }

    footer .dev {
        float: none;
        margin: 23px auto 10px;
        justify-content: center;
    }

    .dash-content .form-custom .col-custom {
        width: 35%;

        &.small {
            width: 30%;
        }
    }

    .dash-content .block.extract .resume {
        width: 60%;
    }

    .dash-content .block .icon {
        margin-right: 2px;
        transform: scale(.7);
        margin-left: -12px;
    }

    .loader-inner img {
        width: 15%;
    }


}


@media screen and (max-width:500px) {

    .form-custom {
        width: 90%;
    }

    .logo-cap {
        svg {
            width: 100%;
        }
    }

    .cap-symbol {
        display: none;
    }

    main {
        padding: 70px 0 185px;
    }

    .chamada {
        width: 100%;
    }

    .custom-cards {
        width: 65%;
        display: table;
        margin: auto;
    }

    .logo-cap-footer {
        display: table;
        margin: auto auto 20px auto;
    }

    header {

        .logo-cap svg {
            width: 85%;
        }
    }

    .symbol-cap-header {
        right: -107px!important;
    }

    .dash-content .form-custom .col-custom {
        width: 100%;

        &.small {
            width: 100%;

            .btn-custom {
                margin-bottom: 20px;
            }
        }
    }

    .activate-btn {
        justify-content: flex-start;
        position: relative;
        right: unset;
        top: 0;
        transform: none;
        left: 0;
        margin-top: 20px;
    }

    .dash-content .block.extract .resume {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .dash-content .block.extract .resume ol {
        padding-left: 0;
    }

    .table {

        .col-2 {
            padding-left: 0;
        }

        .col-4.last {
            padding-right: 0;
        }
    }

    .dash-content .block.extract .head p {
        margin-right: 8px;
    }

    .dash-content .block.extract .head .calendar .total {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        margin-top: 10px;
    }

    header.header-dashboard .top .notification a {
        display: flex;
    }

    .dash-content .block .icon {
        margin-right: 20px;
        transform: scale(1);
        margin-left: 0;
    }

    .loader-inner img {
        width: 30%;
    }

    .notificacoes .block .notification .body {
        padding: 80px 30px 20px 30px;
    }

    .load-more {
        width: 60%;
    }

    .adm ul.config li {
        align-items: flex-start;
        flex-direction: column;
    }

    .adm ul.config li .right {
        width: 100%;
        justify-content: flex-start;
        padding-right: 0;
        margin-top: 20px;
    }

    .adm ul.config li.head .left {
        display: none;
    }

    .modal-custom .modal-dialog {
        max-width: inherit!important;
    }

    .btn-custom.auto-w {
        width: 100%;
    }
    .dash-content .block.extract .body .table .table-body .row div {
        margin-bottom: 20px;
    }

    .dash-content .block.extract .body .table .table-head {
        display: none;
    }

    .dash-content .block.extract .body .table .table-body small {
        display: block;
        font-weight: 500;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #777777;
        margin-bottom: 5px;
    }

    .dash-content .block.extract .head h2 {
        margin-top: 50px;
    }

    .dash-content .block.extract .wrap-actions {
        width: 100%;
    }

    .dash-content .block.extract .periodo {
        flex-wrap: wrap;
    }

    .dash-content .block.extract .periodo .mes, .dash-content .block.extract .periodo .venc {
        width: 50%;
    }

    .dash-content .block.extract .periodo .total {
        width: 100%;
        margin-top: 30px;
    }

    .dash-content .block.extract .periodo .total p,
    .dash-content .block.extract .periodo .total h3 {
        text-align: left;
    }

    .dash-content .block.extract .body .block-extrato.detalhe .last-col p, .dash-content .block.extract .body .block-extrato.detalhe .last-col h4 {
        text-align: left !important;
    }

    .dash-content .block.extract .body .block-extrato.detalhe .table .table-body .row:not(:last-child) {
        border-bottom: 1px solid #E5E5E5;
        border-radius: 0;
    }

}













