body {
  overflow-x: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body.not-scroll {
  overflow-y: hidden;
}

body.visible {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a {
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.mt-20 {
  margin-top: 20px;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#D20A11), to(#B70E0C));
  background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
  height: 50px;
}

header .container {
  display: none;
}

header.header-dashboard {
  height: auto;
}

header.header-dashboard .container {
  display: block;
  position: relative;
  z-index: 1;
}

header.header-dashboard .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 35px;
}

header.header-dashboard .top .logo-cap {
  display: table;
  margin: 0;
}

header.header-dashboard .top .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-dashboard .top .notification a {
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-right: 30px;
}

header.header-dashboard .top .notification .icon-arrow {
  display: inline-block;
  margin-right: 10px;
}

header.header-dashboard .top .notification .icon-arrow svg path {
  fill: #fff;
}

header.header-dashboard .top .notification .icon {
  position: relative;
}

header.header-dashboard .top .notification span {
  background: #FFFFFF;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #B80D0C;
  font-size: 9px;
  position: absolute;
  right: -5px;
  top: -1px;
}

header.header-dashboard .bottom {
  padding: 0 0 70px 0;
}

header.header-dashboard .bottom h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

header.header-dashboard .bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

header.header-dashboard .bottom hr {
  background: #fff;
}

header.header-dashboard .symbol-cap-header {
  position: absolute;
  top: 0;
  right: 53px;
  z-index: -1;
}

.form-custom {
  display: table;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.form-custom .input-custom {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #70716F;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 10px;
  height: 50px;
  background: transparent;
}

.form-custom .label-custom {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
}

.form-custom .label-custom span {
  color: #D20A11;
}

.form-custom .radio label,
.form-custom .checkbox label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #70716F;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.form-custom .radio input,
.form-custom .checkbox input {
  display: none;
}

.form-custom .checkbox {
  line-height: normal;
}

.form-custom .checkbox label::before {
  display: inline-block;
  content: "";
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  margin-bottom: 0;
}

.form-custom .checkbox label::after {
  position: absolute;
  content: url(../images/check.svg);
  left: 6px;
  top: 50%;
  display: none;
  -webkit-transform: scale(1.2) translateY(-41%);
          transform: scale(1.2) translateY(-41%);
}

.form-custom .checkbox label.selected::after {
  display: block;
}

.form-custom .form-group {
  position: relative;
}

.form-custom .eye-icon {
  position: absolute;
  top: 45px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.form-custom .list-unstyled {
  margin-bottom: 0;
}

.form-custom .help-block.with-errors li {
  font-weight: 500;
  font-size: 9px;
  line-height: 15px;
  text-transform: uppercase;
  color: #B70E0C;
  position: unset;
  height: 15px;
  background-color: transparent;
  margin-top: 10px;
}

.form-custom .has-error .form-control {
  border-bottom: 1px solid #B70E0C !important;
}

.form-custom .has-error .label-custom {
  color: #B70E0C;
}

.form-custom .has-error .input-custom::-webkit-input-placeholder {
  color: #B70E0C;
}

.form-custom .has-error .input-custom:-ms-input-placeholder {
  color: #B70E0C;
}

.form-custom .has-error .input-custom::-ms-input-placeholder {
  color: #B70E0C;
}

.form-custom .has-error .input-custom::placeholder {
  color: #B70E0C;
}

.form-custom .has-error svg path {
  fill: #B70E0C;
}

.form-custom .two-buttons .btn-custom:first-child {
  margin-bottom: 20px;
}

.btn-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #70716F;
}

.btn-custom {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  padding: 0;
  width: 100%;
  line-height: 50px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.btn-custom:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.btn-custom.red {
  background: -webkit-gradient(linear, left top, right top, color-stop(4.19%, #D20A11), to(#B70E0C));
  background: linear-gradient(90deg, #D20A11 4.19%, #B70E0C 100%);
  color: #FFFFFF;
}

.btn-custom.green {
  background: -webkit-gradient(linear, left top, right top, color-stop(4.19%, #009020), to(#007B40));
  background: linear-gradient(90deg, #009020 4.19%, #007B40 100%);
  color: #FFFFFF;
}

.btn-custom.green.transparent {
  background: transparent;
  color: #007B40;
  border: 2px solid #007B40;
}

.btn-custom.green.transparent:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(4.19%, #009020), to(#007B40));
  background: linear-gradient(90deg, #009020 4.19%, #007B40 100%);
  color: #FFFFFF;
  opacity: 1;
}

.btn-custom.transparent {
  background: transparent;
  color: #D20A11;
  border: 2px solid #D20A11;
}

.btn-custom.transparent:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(4.19%, #D20A11), to(#B70E0C));
  background: linear-gradient(90deg, #D20A11 4.19%, #B70E0C 100%);
  color: #FFFFFF;
  opacity: 1;
}

.btn-custom.btn-back {
  position: absolute;
  right: 15px;
  width: 100px;
  height: 40px;
  line-height: 37px;
  top: 20px;
}

.btn-custom.auto-w {
  width: 280px;
}

.btn-custom.w-320 {
  width: 320px;
}

.forget-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

hr {
  background: -webkit-gradient(linear, left top, right top, from(#D20A11), to(#B70E0C));
  background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: none;
  width: 50px;
  height: 5px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

hr.left {
  margin-left: 0;
}

hr.small {
  width: 33px;
}

h1, h2, h3, h4, h5, h6, p, span, strong, a {
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #70716F;
  margin-bottom: 15px;
}

.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #B70E0C;
  text-transform: uppercase;
}

.content {
  margin-top: 60px;
}

.content h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #B70E0C;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.content p {
  font-weight: 200;
  font-size: 16px;
  line-height: 25px;
  color: #777777;
  margin-bottom: 30px;
}

.logo-cap {
  display: table;
  margin: auto auto 70px auto;
}

main {
  padding: 70px 0 0;
  position: relative;
}

main.long {
  padding: 70px 0 185px;
}

.cap-symbol {
  position: absolute;
  right: 0;
  bottom: 0;
}

.terms {
  list-style: none;
  margin-bottom: 0;
  margin-top: 64px;
}

.terms li {
  padding: 5px 0;
}

.home .form-custom {
  margin-top: 80px;
}

.chamada {
  display: table;
  margin: auto;
  width: 45%;
}

.chamada p {
  width: 75%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.modal-backdrop {
  z-index: 999999999;
}

.modal-custom {
  z-index: 99999999999999;
}

.modal-custom.error .modal-header {
  background: -webkit-gradient(linear, left top, right top, from(#D20A11), to(#B70E0C));
  background: linear-gradient(90deg, #D20A11 0%, #B70E0C 100%);
}

.modal-custom.success .modal-header {
  background: -webkit-gradient(linear, left top, right top, from(#009020), to(#007B40));
  background: linear-gradient(90deg, #009020 0%, #007B40 100%);
}

.modal-custom .modal-dialog {
  max-width: 370px;
}

.modal-custom .modal-dialog.small {
  max-width: 320px;
}

.modal-custom .modal-content {
  border-radius: 15px;
  border: none;
}

.modal-custom .modal-header {
  border-radius: 10px 10px 0px 0px;
  padding: 30px 0;
}

.modal-custom .modal-header h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  display: table;
  margin: auto;
}

.modal-custom .modal-body {
  padding: 30px 55px;
}

.modal-custom .modal-body.larger {
  padding: 30px 25px;
}

.modal-custom .modal-body p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5F5F5F;
  margin-bottom: 0;
}

.modal-custom .modal-footer {
  border-top: none;
  padding: 0 45px 45px 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-custom .modal-footer.larger {
  padding: 0 25px 20px 25px;
}

.modal-custom .modal-footer > :not(:last-child) {
  margin-right: 0;
  margin-bottom: 25px;
}

.modal-custom .form-custom {
  width: 100%;
  margin-top: 30px;
}

.block-menu {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 10px 20px;
}

.block-menu .wrap {
  padding: 0 10px;
}

.block-menu .menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
}

.block-menu .menu li, .block-menu .menu a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #70716F;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.block-menu .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
}

.block-menu .menu li .icon-arrow {
  margin-right: 10px;
}

.block-menu .menu li .icon-arrow svg path {
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.block-menu .menu li.active > .icon-arrow svg path {
  fill: #B70E0C;
}

.block-menu .menu li.active > li, .block-menu .menu li.active > a {
  color: #B70E0C;
}

.block-menu .menu li:hover > a {
  text-decoration: none;
  color: #B70E0C;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.block-menu .menu li:hover > .icon-arrow svg path {
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  fill: #B70E0C;
}

.block-menu .menu li.has-children {
  position: relative;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.block-menu .menu li.has-children:hover {
  margin-bottom: 85px;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
}

.block-menu .menu li.has-children:hover .submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  z-index: 2;
}

.block-menu .menu li.has-children .submenu {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s !important;
  transition: all 0.3s ease-out 0s !important;
  z-index: -1;
}

.block-menu .menu li.has-children .submenu li, .block-menu .menu li.has-children .submenu a {
  font-size: 12px;
}

.block-menu img {
  width: 100%;
}

.block-menu img:last-of-type {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.block-menu .terms {
  margin-top: 20px;
}

.dash-content .dash-title {
  margin-bottom: 30px;
}

.dash-content .dash-title h2 {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #B70E0C;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.dash-content .dash-title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #70716F;
  margin-bottom: 15px;
  margin-top: 25px;
}

.dash-content .block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
  margin-bottom: 30px;
}

.dash-content .block.static {
  display: block;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.dash-content .block.static:hover {
  top: 0;
  left: 0;
}

.dash-content .block .info p {
  font-weight: 300;
  font-size: 16px;
  line-height: 134.09%;
  color: #70716F;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 30px;
}

.dash-content .block .info p strong {
  color: #70716F;
  font-weight: 600;
}

.dash-content .block.extract {
  padding: 20px;
}

.dash-content .block.extract .wrap-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34px;
  right: 0;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 2;
}

.dash-content .block.extract .wrap-actions .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dash-content .block.extract .wrap-actions .actions span {
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  display: block;
}

.dash-content .block.extract .head {
  background: -webkit-gradient(linear, right top, left top, from(#BA0E0D), to(#D10A11));
  background: linear-gradient(270deg, #BA0E0D 0%, #D10A11 100%);
  border-radius: 15px 15px 0px 0px;
  padding: 30px;
  position: relative;
}

.dash-content .block.extract .head h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.dash-content .block.extract .head p {
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-right: 30px;
}

.dash-content .block.extract .head .personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.dash-content .block.extract .head .calendar {
  position: relative;
}

.dash-content .block.extract .head .calendar input {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  text-align: left;
  width: 151px;
  height: 40px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

.dash-content .block.extract .head .calendar input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 9px;
  letter-spacing: 0.05em;
  line-height: 13px;
  text-transform: none;
  color: #FFFFFF;
}

.dash-content .block.extract .head .calendar input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 9px;
  letter-spacing: 0.05em;
  line-height: 13px;
  text-transform: none;
  color: #FFFFFF;
}

.dash-content .block.extract .head .calendar input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 9px;
  letter-spacing: 0.05em;
  line-height: 13px;
  text-transform: none;
  color: #FFFFFF;
}

.dash-content .block.extract .head .calendar input::placeholder {
  font-weight: 300;
  font-size: 9px;
  letter-spacing: 0.05em;
  line-height: 13px;
  text-transform: none;
  color: #FFFFFF;
}

.dash-content .block.extract .head .calendar label {
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
  padding-left: 10px;
}

.dash-content .block.extract .head .calendar label:first-of-type {
  margin-right: 10px;
}

.dash-content .block.extract .head .calendar .icon-calendar {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 0;
}

.dash-content .block.extract .head .calendar .total {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dash-content .block.extract .head .calendar .total h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;
}

.dash-content .block.extract .head .calendar .total p {
  font-weight: 300;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-right: 0;
  text-align: right;
}

.dash-content .block.extract .body {
  padding: 10px 0 0 0;
}

.dash-content .block.extract .body .block-extrato {
  margin-top: 10px;
}

.dash-content .block.extract .body .block-extrato.detalhe .table .table-body h4 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #70716F;
}

.dash-content .block.extract .body .block-extrato.detalhe .table .table-body h4 a {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #D20A11;
  display: block;
  margin-top: 3px;
}

.dash-content .block.extract .body .block-extrato.detalhe .table .table-body p {
  width: 100%;
}

.dash-content .block.extract .body .block-extrato.detalhe .table .table-body .row {
  background: none;
  padding: 10px 8px 10px 8px;
}

.dash-content .block.extract .body .block-extrato.detalhe .last-col {
  padding-right: 15px !important;
}

.dash-content .block.extract .body .block-extrato.detalhe .last-col p,
.dash-content .block.extract .body .block-extrato.detalhe .last-col h4 {
  text-align: right !important;
}

.dash-content .block.extract .body .block-extrato.detalhe .sub-total {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dash-content .block.extract .body .block-extrato.detalhe .sub-total p,
.dash-content .block.extract .body .block-extrato.detalhe .sub-total h3 {
  text-align: right !important;
}

.dash-content .block.extract .body .block-extrato.detalhe .sub-total p {
  font-weight: 300;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
  color: #D20A11;
}

.dash-content .block.extract .body .block-extrato.detalhe .sub-total h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #D20A11;
}

.dash-content .block.extract .body h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #B70E0C;
}

.dash-content .block.extract .body p.data-consulta {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
}

.dash-content .block.extract .body .table .table-head {
  background: #F1F1F1;
  border-radius: 10px;
  padding: 12px 25px;
  margin-bottom: 10px;
}

.dash-content .block.extract .body .table .table-head.empty {
  padding: 5px 25px;
}

.dash-content .block.extract .body .table .table-head h4 {
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 0;
}

.dash-content .block.extract .body .table .table-head h4.last {
  text-align: right;
}

.dash-content .block.extract .body .table .table-head h4.venc {
  padding-left: 15px;
}

.dash-content .block.extract .body .table .table-body {
  margin-bottom: 20px;
}

.dash-content .block.extract .body .table .table-body .row {
  background: #F1F1F1;
  border-radius: 10px;
  padding: 25px 8px 12px 8px;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.dash-content .block.extract .body .table .table-body .row:nth-child(even) {
  background: #fff;
}

.dash-content .block.extract .body .table .table-body h4 {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B70E0C;
  margin-bottom: 0;
}

.dash-content .block.extract .body .table .table-body p {
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
  width: 85%;
}

.dash-content .block.extract .body .table .table-body p.valor {
  text-align: left;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B70E0C;
  font-weight: 600;
  width: 100%;
  margin-bottom: 7px;
}

.dash-content .block.extract .body .table .table-body a {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B70E0C;
  display: block;
}

.dash-content .block.extract .body .table .table-body hr {
  background: rgba(183, 14, 12, 0.25);
  width: 20px;
  height: 5px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 3px;
}

.dash-content .block.extract .body .table .table-body .last {
  text-align: right;
}

.dash-content .block.extract .body .table .table-body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dash-content .block.extract .body .table .table-body .actions span {
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-left: 10px;
  display: block;
}

.dash-content .block.extract .body .table .table-body .last-col {
  padding-right: 0;
}

.dash-content .block.extract .body .info {
  margin-top: 30px;
  padding: 0 20px;
}

.dash-content .block.extract .body .info .row {
  margin-bottom: 15px;
}

.dash-content .block.extract .body .info h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 146.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #D20A11;
  margin-bottom: 0;
}

.dash-content .block.extract .body .info h4.inline {
  display: inline-block;
}

.dash-content .block.extract .body .info p {
  font-weight: 300;
  font-size: 13px;
  line-height: 146.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
}

.dash-content .block.extract .body .info p.inline {
  display: inline-block;
}

.dash-content .block.extract .resume {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 45%;
  display: table;
  margin-left: auto;
  margin-right: 0;
}

.dash-content .block.extract .resume ol {
  counter-reset: listStyle;
  list-style: none;
  padding-left: 20px;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.dash-content .block.extract .resume ol li {
  padding: 0;
  counter-increment: listStyle;
}

.dash-content .block.extract .resume ol li p {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
  display: inline-block;
}

.dash-content .block.extract .resume ol li p:last-child {
  font-weight: 600;
  text-align: right;
  color: #B70E0C;
  float: right;
  position: relative;
  top: 3px;
}

.dash-content .block.extract .resume ol li:before {
  content: counter(listStyle, upper-alpha) ")";
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-right: 5px;
}

.dash-content .block.extract .resume .total span {
  display: block;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #B70E0C;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.dash-content .block.extract .resume .total h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  color: #B70E0C;
  margin-bottom: 0;
}

.dash-content .block.extract .resume p.vencimento {
  background: #F1F1F1;
  border-radius: 5px;
  font-weight: 400;
  font-size: 9px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  padding: 10px 0;
  margin-bottom: 0;
  margin-top: 15px;
}

.dash-content .block.extract .periodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.dash-content .block.extract .periodo .mes,
.dash-content .block.extract .periodo .venc {
  width: 20%;
}

.dash-content .block.extract .periodo p {
  font-weight: 300;
  font-size: 10px;
  line-height: 134.09%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.dash-content .block.extract .periodo h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 134.09%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.dash-content .block.extract .periodo .total {
  width: 60%;
}

.dash-content .block.extract .periodo .total p {
  font-size: 7px;
  line-height: 9px;
  text-align: right;
  margin-right: 0;
}

.dash-content .block.extract .periodo .total h3 {
  font-size: 20px;
  line-height: 27px;
  text-align: right;
}

.dash-content .block.extract .type {
  background: #C00D0E;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.dash-content .block.extract .type p {
  font-weight: normal;
  font-size: 11px;
  line-height: 134.09%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-right: 0;
}

.dash-content .block .icon {
  margin-right: 20px;
}

.dash-content .block h3 {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #B70E0C;
  margin-bottom: 5px;
}

.dash-content .block:hover {
  text-decoration: none;
  top: -3px;
  left: 0;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.dash-content .block.clicked {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.dash-content .block .perm-user {
  margin-bottom: 15px;
}

.dash-content .block .perm-user .col-12 {
  margin-bottom: 15px;
}

.dash-content .block p {
  font-weight: 300;
  font-size: 12px;
  line-height: 146.3%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
}

.dash-content .block p strong {
  font-weight: 500;
  color: #D20A11;
}

.dash-content .form-custom {
  width: 100%;
  margin-top: 0;
}

.dash-content .form-custom .col-custom {
  padding-left: 15px;
  padding-right: 15px;
  width: 38%;
}

.dash-content .form-custom .col-custom.small {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-content .form-custom .hidden-block {
  display: none;
}

footer {
  display: none;
  padding: 24px 0 15px;
}

footer::before {
  content: url(../images/foot-shadow.png);
  display: table;
  margin: auto;
}

footer.footer-dashboard {
  display: block;
}

footer .foot-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 0;
}

footer .dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

footer .dev p {
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}

footer .dev img {
  width: 105px;
  height: 23px;
  margin-top: -10px;
}

ul.config {
  list-style: none;
  margin-bottom: 0;
}

ul.config li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  padding: 15px 0;
  border-top: 1px solid #EDEDED;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.config li:last-child {
  border-bottom: 1px solid #EDEDED;
}

ul.config li .right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

ul.config li .right .gen-icon {
  margin: 0px 25px;
}

ul.config li .right .gen-icon.del {
  margin: 0px 30px 0 25px;
}

ul.config li small {
  font-weight: 200;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #777777;
}

ul.config li span.sub-title {
  color: #D20A11;
  font-weight: 500;
}

ul.config li.head {
  border-top: none;
}

ul.config li.head .right {
  padding-right: 14px;
}

ul.config li.head .right .gen-icon.del {
  margin: 0px 17px 0 28px;
}

.activate-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.activate-btn .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-bottom: 0;
  margin-right: 10px;
}

.activate-btn .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.activate-btn .switch input:checked + .slider {
  background: rgba(183, 14, 12, 0.25);
}

.activate-btn .switch input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background: #B70E0C;
  left: -10px;
}

.activate-btn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.activate-btn .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -1px;
  bottom: -4px;
  background-color: #b5b5b5;
  -webkit-transition: .4s;
  transition: .4s;
}

.activate-btn .slider.round {
  border-radius: 34px;
}

.activate-btn .slider.round::before {
  border-radius: 50%;
}

.activate-btn .label-toggle {
  font-weight: 400 !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-transform: uppercase;
  width: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #777777;
}

.activate-btn .label-toggle.active {
  color: #B70E0C !important;
}

.btn-del {
  position: relative;
  cursor: pointer;
}

.lid {
  position: relative;
  top: 2px;
  width: 24px;
  height: 6px;
  background: white;
  border: solid 2px #70716F;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(0deg) translateY(0px);
          transform: rotate(0deg) translateY(0px);
}

.lid:before,
.lid:after {
  content: '';
  position: absolute;
}

.lid:before {
  width: 10px;
  height: 5px;
  top: -5px;
  left: 5px;
  background: #70716F;
}

.lid:after {
  width: 6px;
  height: 4px;
  top: -3px;
  left: 7px;
  background: white;
}

.can {
  position: relative;
  left: 2px;
  width: 20px;
  height: 20px;
  background: white;
  border: solid 2px #70716F;
  border-radius: 0 0 3px 3px;
}

.can:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-box-shadow: 4px 5px 0px 1px #70716F, 4px 7px 0px 1px #70716F, 4px 9px 0px 1px #70716F, 4px 11px 0px 1px #70716F, 4px 13px 0px 1px #70716F, 8px 5px 0px 1px #70716F, 8px 7px 0px 1px #70716F, 8px 9px 0px 1px #70716F, 8px 11px 0px 1px #70716F, 8px 13px 0px 1px #70716F, 12px 5px 0px 1px #70716F, 12px 7px 0px 1px #70716F, 12px 9px 0px 1px #70716F, 12px 11px 0px 1px #70716F, 12px 13px 0px 1px #70716F;
          box-shadow: 4px 5px 0px 1px #70716F, 4px 7px 0px 1px #70716F, 4px 9px 0px 1px #70716F, 4px 11px 0px 1px #70716F, 4px 13px 0px 1px #70716F, 8px 5px 0px 1px #70716F, 8px 7px 0px 1px #70716F, 8px 9px 0px 1px #70716F, 8px 11px 0px 1px #70716F, 8px 13px 0px 1px #70716F, 12px 5px 0px 1px #70716F, 12px 7px 0px 1px #70716F, 12px 9px 0px 1px #70716F, 12px 11px 0px 1px #70716F, 12px 13px 0px 1px #70716F;
}

.btn-del:hover .lid {
  -webkit-transform: rotate(-30deg) translateY(-2px);
          transform: rotate(-30deg) translateY(-2px);
}

.datepicker {
  font-weight: 200;
  color: #9d9d9d;
  border: none;
  padding: 0;
  -webkit-box-shadow: 0px 5px 10px #adaaaa;
          box-shadow: 0px 5px 10px #adaaaa;
}

.datepicker table tr td, .datepicker table tr th {
  width: 40px;
  height: 40px;
}

.datepicker table tr td.new, .datepicker table tr td.old {
  color: #e7dddd;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
  color: #fff;
  background-color: #B70E0C;
  border-color: initial;
  font-weight: 400;
}

.datepicker-dropdown.datepicker-orient-bottom::before {
  display: none;
}

.datepicker-dropdown.datepicker-orient-bottom::after {
  display: none;
}

.datepicker table th:first-child {
  border-radius: 4px 0 0 0;
  background-color: #B70E0C;
  color: #fff;
}

.datepicker table th:last-child {
  border-radius: 0 4px 0 0;
  background-color: #B70E0C;
  color: #fff;
}

.datepicker .datepicker-switch, .datepicker tfoot tr th {
  background-color: #B70E0C;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
  background: #B70E0C;
  opacity: 0.9;
}

.datepicker table .dow {
  background-color: #B70E0C !important;
  color: #fff !important;
  border-radius: 0 !important;
  font-weight: 400;
}

.loader {
  background: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999999999999;
}

.loader-inner {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.loader-inner img {
  width: 10%;
}

.loader-inner p {
  font-size: 26px;
  margin-top: 10px;
  color: #000;
  font-weight: 600;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.loader-inner img,
.loader-inner p {
  -webkit-animation: fade .7s linear infinite;
          animation: fade .7s linear infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: .1;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  25% {
    opacity: .25;
  }
}

@keyframes fade {
  0% {
    opacity: .1;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  25% {
    opacity: .25;
  }
}

.icon-arrow {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  40% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  60% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  40% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  60% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
}

li:hover > .icon-arrow {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

li.active > .icon-arrow {
  -webkit-animation-name: none;
          animation-name: none;
}

.notification a:hover .icon-arrow {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

.notification .icon:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.btn-menu {
  display: none;
}

.notificacoes .block h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  padding-bottom: 15px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 20px;
}

.notificacoes .block .notification {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.notificacoes .block .notification .head {
  background: -webkit-gradient(linear, left top, right top, from(#FF0009), to(#B70E0C));
  background: linear-gradient(90deg, #FF0009 0%, #B70E0C 100%);
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.notificacoes .block .notification .head p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0 0 0 0;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notificacoes .block .notification .head p:not(:last-child) {
  margin-right: 20px;
}

.notificacoes .block .notification .head p:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background: #fff;
  margin-left: 20px;
}

.notificacoes .block .notification .body {
  padding: 30px 30px 20px 30px;
  position: relative;
}

.notificacoes .block .notification .body h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #70716F;
  margin-bottom: 20px;
}

.notificacoes .block .notification .body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #70716F;
  margin-bottom: 10px;
  text-transform: none;
  letter-spacing: normal;
}

.notificacoes .block .notification .body .icon-readed {
  position: absolute;
  right: 30px;
  top: 25px;
  cursor: pointer;
}

.notificacoes .block .readed .head {
  background: -webkit-gradient(linear, right top, left top, from(#009020), to(#00B729));
  background: linear-gradient(270deg, #009020 0%, #00B729 100%);
}

.notificacoes .block .readed .body .icon-readed svg path {
  fill: #009020;
}

.load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto auto auto;
  cursor: pointer;
  width: 20%;
}

.load-more p {
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  color: #70716F !important;
  margin-bottom: 10px !important;
}

.load-more .icon {
  margin-right: 0 !important;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
}

.load-more:hover .icon {
  -webkit-transition: all 0.2s ease-out 0s !important;
  transition: all 0.2s ease-out 0s !important;
  top: -7px;
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body .row:not(:last-child) {
  border-bottom: 1px dashed #E5E5E5;
  border-radius: 0;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body .row.sub-total {
  margin-top: 20px;
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body p,
.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body h4 {
  line-height: normal;
}

.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body p.valor,
.dash-content.inner .block.extract .body .block-extrato.detalhe .table .table-body h4.valor {
  margin-bottom: 0;
}

.dash-content .block.extract .body .table .table-body small {
  display: none;
}

@media screen and (max-width: 768px) {
  .form-custom {
    width: 45%;
  }
  .chamada {
    width: 70%;
  }
  .btn-custom.btn-back {
    position: relative;
    right: 0;
    top: 0;
    display: table;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 30px;
  }
  header.header-dashboard .top {
    padding: 75px 0 35px;
  }
  .block-menu {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999;
    border-radius: 0;
    height: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    overflow-y: hidden !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
  .block-menu.menu-open {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .block-menu .wrap {
    padding: 0 30px;
    background: #fff;
    position: fixed;
    height: 100%;
    left: -300px;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  .block-menu .wrap.active {
    left: 0;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
    transition: all 0.5s ease-in-out 0s !important;
  }
  .menu-trigger {
    position: relative;
    z-index: 103;
    top: 0;
    right: 0;
    display: block;
    padding: 1.25rem;
    width: 40px;
    height: 40px;
    margin: 1px;
    cursor: pointer;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
    background: transparent;
  }
  .menu-trigger .line {
    display: block;
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-radius: 1px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .menu-trigger .line.line-1 {
    top: .625rem;
  }
  .menu-trigger .line.line-2 {
    top: 50%;
    top: calc(50% - 1px);
  }
  .menu-trigger .line.line-3 {
    bottom: .625rem;
  }
  .menu-trigger-open {
    right: 275px;
  }
  .menu-trigger .line-1-open {
    -webkit-transform: translate(-50%, 9px) rotate(45deg);
            transform: translate(-50%, 9px) rotate(45deg);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .menu-trigger .line-2-open {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .menu-trigger .line-3-open {
    -webkit-transform: translate(-50%, -9px) rotate(-45deg);
            transform: translate(-50%, -9px) rotate(-45deg);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .btn-menu {
    position: fixed;
    left: 20px;
    z-index: 999999999;
    background-color: #fff;
    border-radius: 0;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #B70E0C;
    top: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu.active {
    left: 308px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger .line {
    background: #B70E0C;
  }
  .btn-menu .menu-trigger.active .line.line-1 {
    top: 18px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger.active .line.line-3 {
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger .line {
    width: 20px;
  }
  .btn-menu .menu-trigger .line.line-1 {
    top: 15px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  .btn-menu .menu-trigger .line.line-3 {
    bottom: 15px;
    -webkit-transition: all 0.4s ease-in-out 0s !important;
    transition: all 0.4s ease-in-out 0s !important;
  }
  footer .dev {
    float: none;
    margin: 23px auto 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dash-content .form-custom .col-custom {
    width: 35%;
  }
  .dash-content .form-custom .col-custom.small {
    width: 30%;
  }
  .dash-content .block.extract .resume {
    width: 60%;
  }
  .dash-content .block .icon {
    margin-right: 2px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -12px;
  }
  .loader-inner img {
    width: 15%;
  }
}

@media screen and (max-width: 500px) {
  .form-custom {
    width: 90%;
  }
  .logo-cap svg {
    width: 100%;
  }
  .cap-symbol {
    display: none;
  }
  main {
    padding: 70px 0 185px;
  }
  .chamada {
    width: 100%;
  }
  .custom-cards {
    width: 65%;
    display: table;
    margin: auto;
  }
  .logo-cap-footer {
    display: table;
    margin: auto auto 20px auto;
  }
  header .logo-cap svg {
    width: 85%;
  }
  .symbol-cap-header {
    right: -107px !important;
  }
  .dash-content .form-custom .col-custom {
    width: 100%;
  }
  .dash-content .form-custom .col-custom.small {
    width: 100%;
  }
  .dash-content .form-custom .col-custom.small .btn-custom {
    margin-bottom: 20px;
  }
  .activate-btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    right: unset;
    top: 0;
    -webkit-transform: none;
            transform: none;
    left: 0;
    margin-top: 20px;
  }
  .dash-content .block.extract .resume {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .dash-content .block.extract .resume ol {
    padding-left: 0;
  }
  .table .col-2 {
    padding-left: 0;
  }
  .table .col-4.last {
    padding-right: 0;
  }
  .dash-content .block.extract .head p {
    margin-right: 8px;
  }
  .dash-content .block.extract .head .calendar .total {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  header.header-dashboard .top .notification a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dash-content .block .icon {
    margin-right: 20px;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-left: 0;
  }
  .loader-inner img {
    width: 30%;
  }
  .notificacoes .block .notification .body {
    padding: 80px 30px 20px 30px;
  }
  .load-more {
    width: 60%;
  }
  .adm ul.config li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adm ul.config li .right {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 0;
    margin-top: 20px;
  }
  .adm ul.config li.head .left {
    display: none;
  }
  .modal-custom .modal-dialog {
    max-width: inherit !important;
  }
  .btn-custom.auto-w {
    width: 100%;
  }
  .dash-content .block.extract .body .table .table-body .row div {
    margin-bottom: 20px;
  }
  .dash-content .block.extract .body .table .table-head {
    display: none;
  }
  .dash-content .block.extract .body .table .table-body small {
    display: block;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 5px;
  }
  .dash-content .block.extract .head h2 {
    margin-top: 50px;
  }
  .dash-content .block.extract .wrap-actions {
    width: 100%;
  }
  .dash-content .block.extract .periodo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dash-content .block.extract .periodo .mes, .dash-content .block.extract .periodo .venc {
    width: 50%;
  }
  .dash-content .block.extract .periodo .total {
    width: 100%;
    margin-top: 30px;
  }
  .dash-content .block.extract .periodo .total p,
  .dash-content .block.extract .periodo .total h3 {
    text-align: left;
  }
  .dash-content .block.extract .body .block-extrato.detalhe .last-col p, .dash-content .block.extract .body .block-extrato.detalhe .last-col h4 {
    text-align: left !important;
  }
  .dash-content .block.extract .body .block-extrato.detalhe .table .table-body .row:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */